


#header-block{
  margin-bottom: 0em;
  padding-bottom: 4rem;
  padding-top: 6rem;

}

.test{
  height: 50vh;
  min-height: 300px;
  background-image: url(./images/pokemon-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: opacity(30%); */
}

#group-mem{
text-align: center;
}
.container-fluid{
  margin-top:0rem;
  margin-bottom:0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  display: block;
}

#content-container{
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
 .row{
  width: 100vw;     
  display: flexbox;
  align-items: top;
  justify-content: center;
  margin-top: 20px;

 }

.col-sm-4{
  align-items: center;
  justify-content: center;
  padding: 4rem;

}

.col-6{
  align-items: center;
  justify-content: center;
  display: block;
}

#my_ava{
  margin-top:0rem;
  margin-bottom: 0em;
  padding-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 { 
  color: #1c1c1c; 
  font-family: 'Raleway',sans-serif; 
  font-size: 62px; font-weight: 800; 
  line-height: 72px; 
  margin-top:1rem;
  margin-bottom:1rem; 
  text-align: center; 
  text-transform: uppercase; }

h2 { 
  color: #1c1c1c; 
  font-family: 'Raleway',sans-serif; 
  font-size: 30px; 
  font-weight: 800; 
  line-height: 36px; 
  margin-top:2rem;
  margin-bottom:2rem;
  text-align: center; }

h3 { 
  color: #1c1c1c; 
  font-family: 'Raleway',sans-serif; 
  font-size: 24px; 
  font-weight: 800; 
  line-height: 34px; 
  margin-top:2rem;
  margin-bottom:2rem; 
  text-align: center; }

p { 
  color: #1c1c1c; 
  font-family: 'Raleway',sans-serif; 
  font-size: 18px; 
  font-weight: 500; 
  line-height: 32px; 
  margin-top:2rem;
  margin-bottom:2rem; }


a { color: #1c1c1c; text-decoration: underline; }


a:hover { color: #1c1c1c; text-decoration: underline; }


/* drag & drop feature */
#drag_and_drops{
  height: 20rem;
  overflow-y:auto;
  scroll-padding-bottom: 40px;

}
#all_drag_and_drops{
  display: inline;
  justify-content: center;}

.addons li {
  display: flex;
  align-items: center;
  border: solid 3px #d0d0d0;
  border-radius: .2em;
  padding: .3em .3em .3em .3em;
  margin-bottom: 1em;
}

.addons{
  list-style: none;
  padding-left: 0;
  border-color: #d0d0d0;
}

.OverflowColumn{
  height:300px;
  /* width:10%; */
  /* background-color:#CCC; */		
  overflow-y:auto;
  float:left;
  position:relative;
  margin-left:5px;
  margin-right:5px;
}

/* Select Pokemon section */


#select_pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#droppable-content{
  display: block;
  margin-left: 20%;
  margin-right: 20%;


  /* margin-right: 200px; */

}

/* #step2_wrap{
  align:center;
} */

#Avatar_save{
  margin-top:350px;
  margin-left:47%; 

}
#save_button{
  vertical-align: middle;

}

.selectAble{
  height:100%;
  width:100%x;
}


.footer{
  margin-top:10rem;
  height: 15vh;
  min-height: 50px;
  background-image: url(./images/pokemon-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top:1rem;
}
.col-md-6{
  text-align: center;
  align-items: center;
  justify-content: space-evenly;

}
.Instructions{
  margin-top:5rem;
  margin-bottom:1rem;
}